@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

img {
    display: block;
}

/* TYPOGRAPHY */

body {
    font-family: 'Open Sans', sans-serif;
}

/* LAYOUT */

.container {
    width: 90%;
    max-width: 1480px;
    margin: 0 auto;
}

/* HEADER */

header {
    margin: .5em 0;
}

.container-header,
nav ul {
    display: flex;
}

.container-header {
    justify-content: space-between;
}

.site-logo {
    width: 60%;
    max-width: 250px;
    align-self: flex-start;
}

nav {
    width: 50%;
    align-self: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
}

nav li {
    text-transform: uppercase;
    font-weight: 100;
}

nav a {
    text-decoration: none;
    color: inherit;
}

/* HERO */

.hero {
    padding: 1em 0;
}

.container-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    width: 40%;
}

.hero-title {
    font-size: 4rem;
    margin-bottom: .25em;
}

.hero-tagline {
    font-size: 1.4rem;
}

.hero-tagline-emphasis {
    font-weight: 700;
}

.hero-image {
    width: 55%;
}