@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

img {
    display: block;
}

/* TYPOGRAPHY */

body {
    font-family: 'Open Sans', sans-serif;
}

/* LAYOUT */

.container {
    width: 90%;
    max-width: 1480px;
    margin: 0 auto;
}

/* HEADER */

header {
    margin: .5em 0;
}

.container-header,
nav ul {
    display: flex;
}

.container-header {
    justify-content: space-between;
}

.site-logo {
    width: 60%;
    max-width: 250px;
    align-self: flex-start;
}

nav {
    width: 50%;
    align-self: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
}

nav li {
    text-transform: uppercase;
    font-weight: 100;
}

nav a {
    text-decoration: none;
    color: inherit;
}

/* HERO */

.hero {
    padding: 2em 0;
}

.container-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    width: 40%;
}

.hero-title {
    font-size: 4.25rem;
    margin-bottom: .25em;
}

.hero-tagline {
    font-size: 1.5rem;
}

.hero-tagline-emphasis {
    font-weight: 700;
}

.hero-image {
    width: 55%;
}

/* FEATURES */

.features {
    padding: 4em 0;
    background-color: #fee034;
}

.container-features {
    display: flex;
    justify-content: space-around;
}

.features-column {
    text-align: center;
    width: 28%;
}

.features-column-title {
    font-size: 1.75rem;
    margin-bottom: .5em;
}

.features-column-underline {
    width: 70px;
    height: 5px;
    background-color: rgb(8, 19, 8);
    margin: 0 auto 1em auto;

}

.features-column-body {
    line-height: 1.6em;
}

.features-column-body-emphasis {
    font-weight: 700;
}

/* SHOWCASE */

.showcase {
    padding: 5em 0;
    background: url(../imgs/site/showcase-bg.png) no-repeat;
    background-size: cover;
}

.container-showcase {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.showcase-text {
    text-align: right;
    width: 40%;
}

.showcase-text-title {
    font-size: 3rem;
    margin-bottom: .25em;
}

.showcase-text-body {
    font-size: 1.25rem;
    margin-bottom: 1em;
}

.showcase-text-btn {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 1em 2.5em;
    background-color: #fee034;
    font-weight: 700;
    border-radius: 50px;
    margin-left: 1em;
}

.showcase-img {
    order: -1;
    width: 500px;
    margin-top: 1em;
}