@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

/* Code from https://css-tricks.com/stop-animations-during-window-resizing/ */
/* ======================================================================== */

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
  }

/* ======================================================================== */

* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

img {
    display: block;
}

/* TYPOGRAPHY */

body {
    font-family: 'Open Sans', sans-serif;
}

/* LAYOUT */

.container {
    width: 90%;
    max-width: 1480px;
    margin: 0 auto;
}

/* BUTTONS */

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
}

button:active {
    color: black;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 1em 2.5em 1em 2em;
    background-color: #fee034;
    font-weight: 700;
    border-radius: 50px;
    cursor: pointer;
}

.btn-arrow-left {
    margin: 1px 10px 0 0;
}

.btn-arrow-right {
    margin: 1px 0 0 10px;
}

.btn-arrow-left,
.btn-arrow-right {
    transition: transform 250ms ease;
}

.btn:hover .btn-arrow-left,
.btn:focus .btn-arrow-left {
    transform: translateX(-10px);
}

.btn:hover .btn-arrow-right,
.btn:focus .btn-arrow-right {
    transform: translateX(10px);
}

/* SVG DIVIDERS */

.features-divider,
.showcase-divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.features-divider svg,
.showcase-divider svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 100px;
}

.features-divider .shape-fill {
    fill: #FFFFFF;
}

.showcase-divider .shape-fill {
    fill: #FEE034;
}

/* HEADER */

header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
    background-color: white;
}

.container-header,
nav ul {
    display: flex;
    position: relative;
}

.container-header {
    justify-content: space-between;
}

.site-logo {
    width: 60%;
    max-width: 200px;
    align-self: center;
}

nav {
    width: 50%;
    align-self: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
    font-weight: 100;
}

nav li,
nav li button {
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav li button {
    font-weight: 200;
    font-size: inherit;
}

nav a,
nav li button {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: 1em 1.5em; /* increases clickable area */
}

/* ACTIVE / HOVER EFFECTS */

.nav-link-active {
    font-weight: 400;
}

.nav-link-active::after,
.nav-link::after {
    content: "";
    display: block;
    background-color: #fee034;
    height: 4px;
    margin: .1em auto;
}

.nav-link::after {
    width: 0%;
    transition: all ease 500ms;
}

.nav-link-active::after,
.nav-link:hover::after,
.nav-link:focus::after {
    width: 100%;
}

/* DROPDOWN */

.dropdown-arrow {
    display: inline-block;
    margin-left: .4em;
    transition: all ease 500ms;
}

.dropdown-arrow-closed {
    transform: rotate(-180deg);
}

.dropdown-arrow-open {
    transform: rotate(0deg);
}

.dropdown-menu-links {
    position: absolute;
    padding-top: 1em;
    background-color: white;
}

/* HERO */

.hero {
    padding: 1em 0 2em 0;
    margin-top: 5em;
}

.container-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    width: 40%;
}

.hero-title {
    font-size: 4.25rem;
    margin-bottom: .25em;
}

.hero-tagline {
    font-size: 1.5rem;
}

.hero-tagline-emphasis {
    font-weight: 700;
}

.hero-image {
    width: 55%;
}

/* FEATURES */

.features {
    padding: 5em 0 3em 0;
    background-color: #fee034;
    position: relative;
}

.container-features {
    display: flex;
    justify-content: space-around;
}

.features-column {
    text-align: center;
    width: 28%;
}

.features-column-title {
    font-size: 1.75rem;
    margin-bottom: .5em;
}

/* .features-column-underline {
    width: 70px;
    height: 5px;
    background-color: rgb(8, 19, 8);
    margin: 0 auto 1em auto;
} */

.features-column-title::after {
    content: "";
    display: block;
    width: 70px;
    height: 5px;
    background-color: rgb(8, 19, 8);
    margin: .5em auto;
}

.features-column-body {
    line-height: 1.6em;
}

.features-column-body-emphasis {
    font-weight: 700;
}

/* SHOWCASE */

.showcase {
    padding: 8em 0;
    background: url(../imgs/site/showcase-bg.png) no-repeat;
    background-size: cover;
    position: relative;
}

.container-showcase {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.showcase-text {
    text-align: right;
    width: 40%;
}

.showcase-text-title {
    font-size: 3rem;
    margin-bottom: .25em;
}

.showcase-text-body {
    font-size: 1.25rem;
    margin-bottom: 1em;
}

.showcase-text-btn {
    margin-left: 1em;
}

.showcase-img {
    order: -1;
    width: 500px;
    margin-top: 1em;
}

/* TESTIMONIALS */

.testimonials {
    background: url('../imgs/site/testimonials-bg.jpg') no-repeat;
    background-size: cover;
    padding: 6em 0;
}

/* CAROUSEL COMPONENT */

.carousel {
    position: relative;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

.carousel-track-container {
    position: relative;
    /* background-color: khaki; */
    overflow: hidden;
    height: 100%;
}

.carousel-track {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
    transition: transform 750ms;
}

.carousel-card {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;

}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 50px; /* gives big clickable area */
    transition: all 500ms ease;
}

.carousel-button:hover,
.carousel-button:focus {
    color: lightgray;
}

.carousel-button-prev {
    left: -100px;
}

.carousel-button-next {
    right: -100px;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.carousel-nav-button {
    margin: 0 .5em;
    padding: .7em;
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.carousel-nav-button.current-card {
    background-color: rgba(0, 0, 0, 0.7);
}


/* CAROUSEL CARD CONTENTS */

.carousel-card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    max-width: 800px;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.632);
    border-radius: 20px;
    box-shadow: 5px 5px 30px rgb(145, 145, 145);
    margin: 0 auto;
    -webkit-transform:translate3d(0,0,0); /* To avoid carousel flickering */
}

.carousel-card-img {
    order: -1;
    width: 35%;
    height: 75%;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
}

.carousel-card-text {
    width: 45%;
}

.carousel-card-text-quote {
    font-size: 1.625rem;
    margin-bottom: .5em;
}

.carousel-card-text-description {
    margin-bottom: .75em;
}

/* FOOTER */

footer {
    padding: 3em 0;
    background-color: #1d1d1d;
}

.container-footer {
    display: flex;
    justify-content: space-between;
}

.footer-newsletter-form {
    color: #1d1d1d;
    margin-bottom: 1em;
}

.footer-newsletter-form-label {
    display: block;
    color: #fee034;
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: .5em;
}

.footer-newsletter-form-input,
.footer-newsletter-form-btn {
    padding: 1em 2.5em 1em 1em;
    font-size: 1rem;
}

.footer-newsletter-form-btn {
    border-radius: 0px 50px 50px 0px;
    border: none;
}

.footer-img {
    /* width: 20%; */
    justify-self: self-start;
    align-self: center;
    max-width: 350px;
}

.footer-social,
.footer-copyright {
    color: rgb(255, 255, 255, 0.9)
}

.footer-social-text {
    margin-bottom: 1em;
}

.footer-social-links {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.footer-social-link {
    color: inherit;
    text-decoration: none;
    transition: color 500ms ease;
}

.footer-social-link:hover,
.footer-social-link:focus {
    color: #fee034;
}

.footer-copyright {
    text-align: center;
    margin-top: 1em;
}